body {
    padding: 23px 10%;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100vh;
    background: #fffbf6;
    color: #302e29;
    padding: 23px 10%
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #302e29;
}

span {
    color: #ff9100;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 5px 25px;
}

nav ul li a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #302e29;
    transition: border-bottom 0.38s ease, color 0.38s ease;
}

nav ul li a:hover {
    border-bottom: 2px solid #ff9100;
    color: #ff9100;
}

.icon {
    background: #ff9100;
    padding: 10px 22px;
    border-radius: 5rem;
}

.icon i {
    font-size: 22px;
    color: black;
    margin-right: 15px;
    margin-left: 8px;
    transition: color 0.5s;
}

i.fa-bars {
    display: none;
}

.icon i:hover {
    color: #fffbf6;
}

/* --------------fast food---------------------- */

.fast-food h1 {
    color: black;
    margin-right: 15px;
    font-family: mv boli;
    margin: 3rem 10px;
    text-align: center;
    font-size: 4.0rem;    
}

.fast-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
    gap: 23px;
}

.fast-dish {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin: 15px;
    transition: all 0.5s;
}

.fast-grid a{
    text-decoration: none;
}

.fast-dish:hover {
    transform: translateY(-30px);
    cursor: pointer;
}

.fast-dish img {
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 1/1;

}

.fast-d {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    text-decoration: none;
}

.fast-d p {
    font-size: 20px;
    font-weight: 600;
    color: #ff9100;
}

.fast-p {
    font-size: 14px;
    font-weight: 600;
    color: #858585;
    text-decoration: none;
}

.fast-p i {
    margin-top: 18px;
    color: #ff9100;
}

.fast-d h3{
    color: black;
}